body{
    background-color: lightgray;
}

.fa {
    color: rgb(0, 149, 255);
}

span{
    font-size: 13px;
    margin: 15px 1px;
}

a{
    border-bottom: 1px solid rgb(66, 66, 170);
}

.boxpart{
    background-color: white;
    padding: 60px 1px;
    margin: 30px 1px;
}

.main{
    margin: 20px 1px;

}

.box{
    padding: 50px 1px;
}

h1{
    text-align: center;
    background-color: beige;
    margin-top: 50px;
}
